
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
   }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/f4icNV.jpg");
    
  }
 
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
   
    
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    border-radius: 4px;
    font-family: var(--body-font);
   
  
    font-family: var(--body-font);
  }
  a{
    color: white;
    font-family: var(--body-font);
    
  
  }
  #sgnup{
    margin: 412px;
  }

  button:hover {
    opacity: 0.8;
  }
  
 
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
   
  }
   .cancelbtn {
    background-color: black;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
  }
  
  .cancelbtn:hover,.content-button:hover{
    background-color: white;
    color: #000;
  
  }
  .containerContact input{
  
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    border-radius: 4px;
    font-family: var(--body-font);
   
  
   
  }
  #subject {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  #country{
  border-radius: 10px;
  font-family: inherit;
padding:3px;  
  
  }


  .social {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .social a {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: #37c1fd;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 14px 14px 28px #c3c3c3, -14px -14px 28px #fdfdfd;
  }
  
  .social .twitter {
    background-color: #1da1f2;
  }
  .social .facebook {
    background-color: #4267b2;
  }
  
  .social .linkdin {
    background-color: #0072b1;
  }
  .social .instagram {
    background-color: #e1306c;
  }
  
  .social a svg {
    fill: #fff;
    transition: transform 200ms ease-in-out;
    z-index: 2;
  }
  
  .social a::before {
    content: attr(data-text);
    font-size: 1rem;
    font-weight: bold;
    background-color: #7da0cb;
    color: #fff;
    position: absolute;
    top: -55%;
    right: 50%;
    transform: translateX(50%) rotate3d(300, 0, 0, -90deg);
    padding: 3px 5px 6px 5px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 90%,
      55% 90%,
      50% 100%,
      45% 90%,
      0% 90%
    );
    transition: transform 200ms ease-in-out;
    transform-origin: bottom;
  }
  
  .social a:hover::before {
    transform: translateX(50%);
  }
  
  .social a:hover svg {
    transform: scale(1.2);
  }
  
  .social a::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #7da0cb;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: transform 200ms ease-in-out;
    transform-origin: bottom;
    clip-path: circle(0% at 50% 100%);
    border-radius: 10px;
    transition: clip-path 250ms ease-in-out;
  }
  
  .social a:hover::after {
    clip-path: circle(100%);
  }
  

  